* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-content {
    height: 600px;
    background-image: url(./images/banner/banner3.png);
    background-size: cover;
    position: relative;
}

.header-title {
    position: relative;
    color: white;
    top: 120px;
    left: 800px;

}

.header-title h1 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 700;
}

.header-title h3 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.header-title button {
    position: relative;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: white;
    left: 160px;
    color: #005FAC;
    font-weight: 700;

}

.flexible-container {
    display: flex;
    margin-bottom: 70px;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.half-width h2 {
    margin-top: 90px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}

.half-width h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.half-width h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 14px;
}

.half-width h4 span {
    color: rgba(23, 225, 140, 1);
}

.my-plan h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
}
.my-plan .plan-tile h1{
    margin-bottom: 40px;
}

.pl-planning {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin: 40px 60px;

}
.web-development img{
   margin-left: 40px;
}
.web-development h1{
    font-weight: 700;
    font-size: 30px;
}
.web-development h4{
    color: rgba(115, 114, 114, 1);
    margin-left: 40px;
}
/* js */
.java-script img{
    margin-left: 40px;
}
.java-script h1{
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.java-script h4{
    color: rgba(115, 114, 114, 1);
    margin-left: 40px;
}

/* Smoke-habit */
.smoke-habit img{
    margin-left: 40px;
}
.smoke-habit h1{
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.smoke-habit h4{
    color: rgba(115, 114, 114, 1);
    margin-left: 40px;
}
/* E commerce */
.e-commerce img{
    margin-left: 40px;
}
.e-commerce h1{
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.e-commerce h4{
    color: rgba(115, 114, 114, 1);
    margin-left: 40px;
}

/* contact Section */
.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 30px;
}
.contact-info{
    height: 300px;
    width: 1100px;
    background-image: url(./images/watch.png);
    border-radius: 5px;
    
}
.contact-info:after {
    content:'';
    position:absolute;
    left:57px; 
    top:0;
    height: 300px;
    width: 1100px;
    border-radius: 12px;
    /* display:inline-block; */
    background: linear-gradient(to left, rgb(10, 123, 228) 0%, rgba(31, 82, 170, 0) 100%);
   
  }
  .contact-text{
    position: absolute;
    top: 64px;
    left: 120px;
    color:white;
    font-size: 35px;
    font-weight: bolder;
    
    
  }
  .contact-text button{
    padding: 10px;
    border: 0px solid white;
    border-radius: 8px;
    color: rgb(10, 123, 228);
    font-weight: 700;
  }
  /* contact Section End */
  /* footer started */

